body{
  font-family: 'Montserrat', sans-serif;
}

#title .container-fluid {
 padding: 3% 15% 7%;
}
.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 100px auto;
  display: "inline-block";
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.rotate {
  width: 60%;
  transform: rotate(25deg) translateX(180px);
  position: absolute;
  right: 30%;
}

.position {
  position: relative;
}

#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-weight: bold;
  font-size: 1.5rem;
}

/* Navigation bar */

.navbar{
  padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navitem {
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download buttons */
.download {
  margin: 5% 3% 5% 0;
}

p {
  color: #8f8f8f;
}

/* Features Box */

.feature-box {
  text-align: center;
  padding: 5%;
}

.fa-solid {
  color: #ef8172;
  font-size: 4rem;
  font: centre;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  text-align: center;
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  text-align: center;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col {
  padding: 3% 2%;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }
  .rotate {
    position: static;
    transform: rotate(0);
  }
}

#cta {
text-align: center;
margin: 40px auto;
}

.cta-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

#footer {
  text-align: center;
}
.fa-brands {
  margin: 20px 10px;
}
